/*Bootstrap classes modification below*/
.btn {
	width: 100%;
}
/*Bootstrap classes modification above*/

body {
	background-color: rgba(217, 83, 79, 0.8);
	font-family: 'Orbitron', sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.give-margin-space {
	margin-top: 1px;
	margin-bottom: 1px;
	height: 13px;
}

.my-btn-red {
	background-color: #d9534f;
	color: #ffffff;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
}

.text-red {
	color: #d9534f;
}

.my-game-header {
	background-color: #eeeeee;
	color: #d9534f;
	border-radius: 0;
}

.my-game-container {
	padding: 40px 20px;
	width: 345px;
	background-color: khaki;
	color: #111111;
	font-size: 21px;
	border-radius: 7px;
	line-height: 1.9;
	letter-spacing: 1px;
}